# ==========================================
# 4. LEVANTAR WEBSOCKET (VISUAL DE TICKETS Y TAREAS)
# ==========================================

VITE_URL_HOST=url_local_host
VITE_URL_API=ejemplo_http://tu_URL/api